<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="utf-8">
    	<title>Edgar Latorre - CodePaste</title>
		<link href="/media/css/style.css" rel="stylesheet" type="text/css" media="screen" />
		<link href="/media/css/print.css" rel="stylesheet" type="text/css" media="screen" />
	</head>
  	<body>
    	<div class="wrapper">
      		<div id="hd">
        		<h1>Code Paste</h1>
      		</div>
			<div id="content">
	        	<div class="box">
	          		{% block content %} {% endblock %}
	        	</div>
	      	</div>
		</div>
	</body>
</html>